[submodule "src/odeint/odeint-v2"]
	path = src/odeint/odeint-v2
	url = git@github.com:headmyshoulder/odeint-v2.git
[submodule "src/interpol"]
	path = src/interpol
	url = git@github.com:tschmoderer/interpol-lib.git