# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User exception
build/

docs/html/

docs/doxyfile.conf

.vscode/
app/mpp_app

app/bin/exp

app/bin/exp.hpp

app/results/

app/assets/config.py

docs/xml/

app/assets/gui/ressources/CONTRIBUTORS

app/assets/gui/ressources/LICENSE

**/__pycache__/*
